#ENVIRONMENT
ENVIRONMENT=  

#PORT
SERVER_PORT=

# Persistence message type
PERS=

#SQL
SQL_HOST=
SQL_USER=
SQL_DB=
SQL_PASSWORD=

#MONGODB
MONGO_URI=

#COOKIES
COOKIE_SECRET=

#JWON WEB TOKEN
JWT_SECRET_KEY=

#nodemailer
MAIL=
PASS=

#twilio
ACCOUNT_SID=
AUTH_TOKEN=
MESSAGING_SERVICE_SID=